extends layouts/main-layout
block content
    p User logged in: #{userLoggedIn.userName}
    i.fa-solid.fa-user
    i.fa-regular.fa-user
    i.fa-light.fa-user
    i.fa-duotone.fa-user
    i.fa-thin.fa-user
    i.fa-brands.fa-github-square

